*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn:hover{
    transform: scale(1.2);
}


.intro-image{
    background-attachment: fixed;
    background-image: url('../img/candle.jpg');
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}
.intro-image__text a{
    background-color: #dcc3c7c3;
    border: 2px solid #dcc3c7;
    color: #33190c;
    display: inline-block;
    font-size: 3rem;
    padding: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}
.intro-text{
    clip-path: polygon(50% 15%, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0);
    background-color: #e1e5d3;
    color: #272c26;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
    text-align: center;
    margin-top: -3rem;
}
.intro-text__textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}


.packaging-image{
    background-attachment: fixed;
    background-image: url('../img/pack.jpeg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.packaging-image__text a{
    background-color: #401313be;
    border: 2px solid #401313;
    color: #f6c2ba;
    display: inline-block;
    font-size: 3rem;
    padding: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}
.packaging-text{
    background-color: #e7ada4;
    color: #33190c;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15rem;
    text-align: center;
}
.packaging_text__textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}



.tutorials-image{
    background-attachment: fixed;
    background-image: url('../img/swirl.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tutorials-image__text a{
    background-color: #b6d0bfaf;
    border: 2px solid #b6d0bf;
    color: #351b13;
    display: inline-block;
    font-size: 3rem;
    padding: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}


.footer{
    color: #1c1e1b;
    padding: 1rem;
    height: 25hv;
    font-size: 2rem;
    text-align: center;
}
.footer ul li{
    display: inline-block;
    margin: 1rem;
}
.wrapper a{
    color: #1c1e1b;
    text-decoration: none;
}
.wrapper:hover, .wrapper a:hover{
    color: #de272b;
    transform: scale(1.2);
}